/**
 Tailwind で指定されているスタイル一覧

 - hidden
 - object-cover
 - w-10
 - h-10
 - mx-4
 - rounded-full
 - sm:block
 */

.icon {
  // hidden
  display: none;
  // object-cover
  object-fit: cover;
  // w-10
  width: 2.5rem;
  // h-10
  height: 2.5rem;
  // mx-4
  margin-left: 1rem;
  margin-right: 1rem;
  // rounded-full
  border-radius: 9999px;

  // sm:block
  @media (min-width: 640px) {
    display: block;
  }
}
