/**
 Tailwind CSSで適用されているスタイル一覧
 
 - px-2
 - py-1
 - font-bold
 - text-gray-100
 - bg-gray-600
 - rounded
 - hover:bg-gray-500

 */
.label {
  // px-2
  padding-left: 0.5em;
  padding-right: 0.5em;
  // py-1
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  // text-gray-100
  color: var(--text-gray);
  // bg-gray-600
  background-color: var(--bg-primary);
  // rounded
  border-radius: 0.25em;
  // font-bold
  font-weight: var(--font-weight-bold);

  &:hover {
    // hover:bg-gray-500
    background-color: var(--bg-secondary);
  }
}
